@page "/registry"
@attribute [Authorize]
@inject HttpClient Http
<PageTitle>Registry Index</PageTitle>

<h1>Index</h1>

<p>This component demonstrates fetching data from the docker-registry.</p>

@if (this.Catalog == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>blub</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var c in this.Catalog.Repositories)
            {
                <tr>
                    <td>@c</td>                    
                </tr>
            }
        </tbody>
    </table>
}



